<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewWithPagingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0A0E19E1BEC8B8F006C2E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A0E1B21BEC8B90006C2E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A0E1BD1BEC8B90006C2E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
